@import '_grid';
@import '_content_home';
@import '_content_party';
@import '_content_rsvp';
@import '_content_single';
@import '_content_accomidation';
@import '_content_schmaushaars';
@import '_content_registry';
@import '_content_details';



.screen-reader-text {
  position:absolute;
  top:-9999px;
  left:-9999px;
}

article {
  max-width:700px;
  margin:0 auto;
}
.page {
  position:relative;
}

.image-list {
  width: 80%;
  display:flex;
  flex-flow: row wrap;
  margin:0 auto;
  div {
    flex: auto;
    width:275px;
    margin:10px;
  }
  img {
    width:100%;
    height:auto;
  }
}
.max-width-1400 {
  max-width:1400px;
  margin:0 auto;
}

.background-brown {
  background:$brown;
  width:100%;
  height:101%;
  position:relative;
}
.background-orange {
  background:$orange;
  width:100%;
}
.button-parent-center {
  display:flex;
  flex-direction:row;
  justify-content:center;
}
button, .button {
  background:$orange;
  border-radius:3px;
  border:none;
  text-decoration:none;
  color:$brown;
  padding:.5em;
  margin:1em 0 0 0;
  display:inline-block;
  box-shadow:2px 2px 2px rgba(0,0,0,0.9);
  font-size:1.2em;
  min-width:200px;
  text-align:center;
  font-weight:600;

  &:hover {
    background:$l-orange;
  }
  &:active {
    transform:translate(0,2px);
    box-shadow:none;
  }
}
.banner-all {
  width:100%;
  position:relative;
  padding:7em 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  h1, h2, h3, h4, h5, p {
    display:block;
    width:100%;
    text-align:center;
    margin:0.1em;
  }
}

.down {
  position:relative;
  width:100%;
  bottom:0;
  animation: updown 3.5s infinite;
}
@keyframes updown {
  0% {
    transform:translate(0,0);
  }
  50% {
    transform:translate(0,35px);
  }
}

/* Grid */

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 700px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
